[Unit]
Description=Startting petclinic as service
Documentation=https://github.com/spring-projects/spring-petclinic
Requires=cloud-sql-proxy.service
After=cloud-sql-proxy.service

[Service]
WorkingDirectory=/opt/petclinic
ExecStart=/bin/java -jar -Dspring.profiles.active=mysql yurii_vatsyk-petclinic-2.6.0-SNAPSHOT.jar
Restart=always
StandardOutput=journal
User=petclinic

[Install]
WantedBy=multi-user.target